<header class="main-header">
  <nav>
    <ul class="main-header__items">
      <li class="main-header__nav_item">
        <a href="/shop">Shop</a>
      </li>
      <li class="main-header__nav_item">
        <a class="active" href="/add-product">Add Product</a>
      </li>
    </ul>
  </nav>
</header>
